body {
   background-color: hsl(0, 6%, 68%);
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
}
img {
   max-width: 100%;
}
.logo {
   max-width: 60px;
}
.main-header {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   background-color: rgb(23, 218, 218);
   align-items: flex-end;
   padding: 10px 20px;

}
.navigation{
      display: flex;
   flex-flow: row wrap;

}
.navigation a{
   text-decoration: none;
   color: rgb(43, 18, 66);
   padding: 15px;
}
.navigation a:hover {
   color: rgb(177, 109, 25);
   background-color: rgb(43, 18, 66) ;
}
.banner {
   background-image: url(https://images.pexels.com/photos/46160/field-clouds-sky-earth-46160.jpeg);
   background-position: center;
   background-size: cover;
   min-height: 50vh;
   display: grid;
   place-items: center;
}
.banner h1{
   color: white;
   background-color: black;
   background-color: hsla( 0, 0%, 0%, 0.436);
   padding: 10px;
}
.home-content {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   max-width: 1200px;
   margin: 2em auto;
   gap: 20px
}
.card-image {
   aspect-ratio: 1/1;
   object-fit: cover;
   object-position: center;
}
.card {
   border: 1px solid #747474;
}
.card-content {
padding: 1em;
display: flex;
flex-direction: column;
} 
.card-button {
   background-color: black;
   color: white;
   display: block;
   padding: 0.5em;
   text-align: center;
   text-decoration: none;
   border-radius: 5px;
   width: 75%;
   align-self: center;
}

.main-footer {
   background-color:rgb(71, 55, 55);
   padding: 1em;
   display: flex;
   flex-direction: row;
   justify-content: space-between
}
.main-footer a {
   color:rgb(238, 232, 232)
   text-decoration: none;
}
.main-footer a:hover {
   color: rgb(235, 235, 235)
}